<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head'); %>
  </head>
  <body class="container">
    <header><%- include('./header'); %></header>

    <main>
      <h2><%= __('Anuncios') %></h2>
      <form>
        <div>
          <input
            type="text"
            id="idArticulo"
            name="articulo"
            class="search-box"
            placeholder="<%= __('busque en catalogo') %>"
          />
          <input type="submit" value="<%= __('Buscar') %>" class="search-button" />
        </div>
      </form>
      <div class="flex-container">
        <% anuncios.forEach(anuncio => { %>
        <div class="flex-element">
          <p class="title"><%= anuncio.articulo %></p>

          <% const filePath = "public/data/thumbnails/thumbnail_" + anuncio.imagen; %>
          <!-- Ponemos el thumnail y sino existe la imagen -->
          <% if (fs.existsSync(filePath)){ %>
          <img class="imagen" alt="thumbnail del anuncio" src="data/thumbnails/thumbnail_<%=anuncio.imagen%>" />
          <% } else { %>
          <img class="imagen" alt="imagen del anuncio" src="data/uploads/<%=anuncio.imagen%>" />
          <% } %>
          <!--  -->
          <% if (anuncio.venta) { %>
          <p class="price" venta="<%= anuncio.venta %>"><%= __('SeVende') %> <%= anuncio.precio %> €</p>
          <% } else { %>
          <p class="price" venta="<%= anuncio.venta %>"><%= __('SeCompra') %> <%= anuncio.precio %> €</p>
          <% } %>
          <div class="tag-box">
            <% anuncio.tags.forEach(tag => { %>
            <span class="tag"> <%= __(tag) %></span>
            <% }) %>
          </div>
        </div>
        <% }) %>
      </div>
    </main>

    <footer><%- include('./footer'); %></footer>
  </body>
</html>
